<h1 *ngIf="!plan.numeroplan">Creer Nouveau Plan Repas</h1>
<h1 *ngIf="plan.numeroplan">Moddifier Plan Repas</h1>
<p>Categorie</p>
<input type="text" [(ngModel)] = "plan.categorie" placeholder="Categorie"/>
<p>frequence(hebdo)</p>
<input type="number" [(ngModel)] = "plan.frequence" min="0" placeholder="frequence"/>
<p>Nombre Personne</p>
<input type="number" [(ngModel)] = "plan.nbrpersonnes" min="0" placeholder="Nombre Personne"/>
<p>Calories(KCal) </p>
<input type="number" [(ngModel)] = "plan.nbrcalories" min="0" placeholder="Calories"/>
<p>Prix($)</p>
<input type="number" [(ngModel)] = "plan.prix" min="0" placeholder="Prix" />
<p>Fourniseur</p>
<select [(ngModel)]="plan.numerofournisseur">
    <option *ngFor="let fournisseur of fournisseurs" [(ngValue)]="fournisseur.numerofournisseur">{{fournisseur.nomfournisseur}}</option>
</select>
<button *ngIf="!plan.numeroplan" (click)="createPlan()">Creer</button>
<button *ngIf="plan.numeroplan" (click)="updatePlan()">Sauvgarder</button>
<button *ngIf="plan.numeroplan" (click)="deletePlan()">Supprimer</button>
<a routerLink="">Return</a>
