<table class= 'Planrepas'>
    <thead>
      <th>Categorie</th>
      <th>Frequence</th>
      <th>Nombre Personnes</th>
      <th>Calories</th>
      <th>Prix</th>
      <th>Fournisseur</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr class= 'plan' *ngFor="let plan of planrepas">
        <td>{{plan.categorie}}</td>
        <td>{{plan.frequence}}/semaine</td>
        <td>{{plan.nbrpersonnes}}</td>
        <td>{{plan.nbrcalories}}KCal</td>
        <td>{{plan.prix}}$</td>
        <td>{{getFournisseurName(plan.numerofournisseur)}}</td>
        <th><a [routerLink]="['/edit-planrepas']" [queryParams]= "{targetPlan: plan.numeroplan}">Modifier</a></th>
        <th><button (click)="deletePlan(plan.numeroplan)">Supprimer</button></th>
      </tr>
    </tbody>
</table>